body {
  width: 80%;
  margin: auto;
  padding: 0 0 20px;
  font: 14px/1.5 OpenSansRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #f0e7d5;
  font-weight: normal;
  background: #252525;
  background-attachment: fixed !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #e8e8e8;
  margin: 0 0 10px;
  font-family: OpenSansRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

.header {
  align-content: center;
  justify-content: center;
}

.wrapper,
section {
  max-width: 850px;
}

.flex {
  display: flex;
}

.oncogene {
  flex-grow: 1;
}

.oncogene__hint {
  margin-left: 18px;
  font-weight: bold;
}

.result,
.oncogene-variants__item {
  flex-basis: 500px;
  flex-grow: 0;
  flex-shrink: 0;
}

.oncogene-variants__item {
  margin: 16px;
  border-radius: 4px;
}

.config,
.oncogene-variants__code {
  font-family: monospace;
  white-space: pre;
  border: 1px solid #999;
  padding: 16px;
  border-radius: 4px;
}

.oncogene-variants__code {
  cursor: pointer;
}

.config:hover,
.oncogene-variants__item:hover {
  -webkit-box-shadow: 0 2px 9px 1px rgba(0, 0, 0, .76);
  -moz-box-shadow: 0 2px 9px 1px rgba(0, 0, 0, .76);
  box-shadow: 0 2px 9px 1px rgba(0, 0, 0, .76);
}

.padding {
  padding: 20px;
}

.block-title {
  font-weight: bold;
  margin-bottom: 15px;
}

.oncogene__progress {
  float: right;
  padding-right: 20px;
}
